.cart-container {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productContainer .box-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  gap: 3rem;
  margin-left: -15rem;
  height: 20rem;
}

.summary {
  margin-top: 12rem;
  margin-left: -5rem;
  width: 25%;
}

.button {
  font-size: 2rem;
  color: var(--primary-dark-color);
  margin-top: 0.8rem;
}

.button:hover {
  color: var(--primary-color);
}
