.main-container {
  display: flex;
}
.filters {
  background-color: var(--primary-dark-color);
  color: var(--text-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 9rem;
  margin-left: -12rem;
  height: 82vh;
}

.filters > span {
  padding-bottom: 2rem;
}

.title {
  font-size: 28px;
}

label {
  font-size: 1.5rem;
}

label h3 {
  margin-left: 2.5rem;
  margin-top: -2.6rem;
  font-weight: 300;
}

.filter-btn {
  background-color: var(--text-white);
  border: none;
  color: var(--primary-dark-color);
  margin-top: 3rem;
}

.filter-btn:hover {
  background-color: var(--primary-dark-color);
  border: 2px solid var(--primary-color);
  color: var(--text-white);
}

.filter-rating {
  margin-left: 0rem;
  margin-top: 2rem;
}

.filter-stars {
  margin-left: 7rem;
  margin-top: -2.4rem;
  font-size: 1.2rem;
}

.categories .box-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7.5rem;
  gap: 2rem;
}

.categories .box-container .box {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: var(--text-white);
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
}

.categories .box-container .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.categories .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
}

.categories .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.8;
}

.categories .box-container .box p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.price {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.stars i {
  font-size: 1.7rem;
  color: var(--primary-dark-color);
  padding: 0.5rem 0;
}
/* footer */
.footer {
  background: var(--text-white);
}

.footer .box-container .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding: 1rem 0;
  margin: 1rem;
}

.footer .box-container .box a {
  color: var(--primary-color);
}

.footer .box-container .box a:hover {
  background-color: var(--primary-dark-color);
  color: var(--text-white);
  padding: 1rem;
  border-radius: 0.5rem;
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  border-top: 0.1rem solid var(--primary-dark-color);
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  color: var(--primary-color);
}

.footer .credit span {
  color: var(--primary-dark-color);
}

a {
  text-decoration: none;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
}
.product-btn {
  margin-left: 54rem;
  margin-bottom: 2rem;
}
.card-badge {
  width: 7rem;
  font-size: 1.6rem;
  text-align: center;
}
.card-close {
  border: none;
  margin-top: 0.25rem;
  margin-right: -2rem;
}
.card-close:hover {
  background-color: #fff4f8;
  border: none;
  color: var(--primary-dark-color);
}
.card-button {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--primary-color);
  cursor: pointer;
  background-color: var(--primary-dark-color);
  color: var(--text-white);
  border: none;
  margin-left: 0.2rem;
}

.card-button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: var(--primary-dark-color);
  color: var(--text-white);
  border: none;
}
