.main-container {
  display: flex;
}
.filters {
  background-color: var(--primary-dark-color);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 9rem;
  margin-left: -12rem;
  height: 82vh;
}

.filters > span {
  padding-bottom: 2rem;
}

.title {
  font-size: 28px;
}

label {
  font-size: 1.5rem;
}

label h3 {
  margin-left: 2.5rem;
  margin-top: -2.6rem;
  font-weight: 300;
}

.filter-btn {
  background-color: var(--text-white);
  border: none;
  color: var(--primary-dark-color);
  margin-top: 3rem;
}

.filter-btn:hover {
  background-color: var(--primary-dark-color);
  border: 2px solid var(--primary-color);
  color: var(--text-white);
}

.filter-rating {
  margin-left: 0rem;
  margin-top: 2rem;
}

.filter-stars {
  margin-left: 7rem;
  margin-top: -2.4rem;
  font-size: 1.2rem;
}

.categories .box-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 7rem;
  gap: 2rem;
}

.categories .box-container .box {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
}

.categories .box-container .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.categories .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
}

.categories .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.8;
}

.categories .box-container .box p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.price {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.stars i {
  font-size: 1.7rem;
  color: var(--primary-dark-color);
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}
